.layout-container {
  display: flex;
}

.content-container {
  margin-left: 10px; /* 與選單分開 */
  margin-top: 60px; /* 與選單分開 */
  padding: 20px;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-y: auto; /* 使內容區域滾動 */
}
