<div class="pageTitle">
  <h2>【使用元件範例】</h2>
</div>
<div class="row">
  <basic-input
    title="輸入框範例"
    class="col-6"
    [form]="form"
    ctlName="username"
    placeholder="請輸入帳號"
    [maxlength]="30"
  ></basic-input>
  <dropdown
    title="下拉選單範例"
    [form]="form"
    ctlName="testControl"
    [selectList]="selectList"
    [disabledSelectList]="disabledSelectList"
    class="col-6"
    (valueChange)="onValueChange($event)"
  ></dropdown>
</div>

<div class="row">
  <date class="col-6" title="單一日期" ctlName="date" [form]="form"></date>
  <date-range
    class="col-6"
    titleStart="起日"
    titleEnd="迄日"
    [form]="form"
  ></date-range>
</div>

<div class="row">
  <div class="col-1"></div>
  <button class="col-4" nbButton (click)="openConfirmDialog()">
    確認對話框範例
  </button>
  <div class="col-2"></div>
  <button class="col-4" nbButton (click)="openCustomSnackbar()">
    錯誤框範例
  </button>
  <div class="col-1"></div>
</div>

<div class="row">
  <search-select
  title="下拉收尋框範例"
  class="col-6"
  [form]="form"
  ctlName="searchSelect"
  placeholder="請輸入收尋"
  [options]="items" (selected)="onItemSelected($event)">
  </search-select>
</div>
