<div class="sidebar">
  <div class="sidebar-header">
    <h4 class="sidebar-title">FEIB-監控系統</h4>
  </div>
  <!-- <pre>{{ menuItems | json }}</pre> -->
  <ul class="nav flex-column">
    <ng-container *ngFor="let item of menuItems">
      <!-- 主要分類目錄 (不可導航) -->
      <li class="nav-item">
        <a class="nav-link folder" (click)="toggleGroup(item)">
          <i class="bi" [ngClass]="isGroupActive(item) ? 'bi-folder2-open' : 'bi-folder'"></i>
          {{ item.title }}
        </a>
        <!-- 子選單 (可導航) -->
        <ul class="submenu" *ngIf="isGroupActive(item)">
          <li *ngFor="let child of item.children">
            <a class="nav-link file" [routerLink]="child.path" routerLinkActive="active">
              <i class="bi" [ngClass]="'bi-' + child.icon"></i> {{ child.title }}
            </a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
  <div class="sidebar-footer">
    <button class="nav-link btn btn-link" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> 登出
    </button>
  </div>
</div>

