<div class="fieldGroup" [ngClass]="{
    'col-12': true,
    'error': hasError(),
    'essential': required,
    'disabled': disabled
  }" [ngStyle]="{'display': isHidden ? 'none' : 'block'}" [formGroup]="form">
  <label>{{ title }}</label>

  <mat-form-field appearance="fill" [ngClass]="'col-12'">
    <mat-label>{{ title }}</mat-label>
    <input matInput [type]="inputType" [placeholder]="placeholder" [formControlName]="ctlName" [maxlength]="maxlength"
      [readonly]="disabled" [autocomplete]="autocomplete" />

    <!-- 只有 type=password 才顯示眼睛 -->
    <button *ngIf="type === 'password'" type="button" matSuffix (click)="togglePassword()" [attr.aria-label]="'切換密碼顯示'"
      class="password-toggle-btn">
      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
    </button>
  </mat-form-field>

  <!-- 錯誤訊息 -->
  <div class="note errorText" [style.visibility]="hasError() ? 'visible' : 'hidden'">
    <p *ngIf="ctl?.errors?.['required']; else otherErr">此為必填欄位</p>
    <ng-template #otherErr>
      <p>{{ firstErr }}</p>
    </ng-template>
  </div>
</div>