<div
  class="fieldGroup"
  [ngClass]="{
    'col-12': true,
    'error': hasError(),
    'essential': required,
    'disabled': disabled,
  }"
  [ngStyle]="{'display': isHidden ? 'none' : 'block'}"
  [formGroup]="form"
>
  <label>
    {{ title }}
  </label>
  <mat-form-field appearance="fill" [ngClass]="'col-12'">
    <mat-label>{{ title }}</mat-label>
    <input
      matInput
      [type]="type"
      [placeholder]="placeholder"
      [formControlName]="ctlName"
      [maxlength]="maxlength"
      [readonly]="disabled"
      [autocomplete]="autocomplete"
    />
  </mat-form-field>

  <!-- 錯誤訊息 -->
  <div class="note errorText" *ngIf="hasError()">
    <p
      *ngIf="(ctl?.dirty || ctl?.touched) && ctl?.errors?.['required']; else otherErr"
    >
      此為必填欄位
    </p>
    <ng-template #otherErr>
      <p>{{ firstErr }}</p>
    </ng-template>
  </div>

  <!-- 預留錯誤訊息的空間 -->
  <div class="errorPlaceholder" *ngIf="!hasError()"></div>
</div>
